
@*
    Default Footer Component
*@
<section class="pb-0 pb-lg-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-7 col-12 mb-4 mb-md-6 mb-lg-0 order-0">
                <img class="mb-4" src="/public/assets/img/logo2.svg" width="150" alt="jadoo" />
                <p class="fs--1 text-secondary mb-0 fw-medium">
                    @T["Footer_Description"]
                </p>
            </div>
            <div class="col-lg-2 col-md-4 mb-4 mb-lg-0 order-lg-1 order-md-2">
                <h4 class="footer-heading-color fw-bold font-sans-serif mb-3 mb-lg-4">@T["Footer_Corporate"]</h4>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2">
                        <a class="link-900 fs-1 fw-medium text-decoration-none" href="#" data-bs-toggle="modal" data-bs-target="#aboutModal">@T["Footer_About"]</a>
                    </li>
                    <li class="mb-2">
                        <a class="link-900 fs-1 fw-medium text-decoration-none" href="#" data-bs-toggle="modal" data-bs-target="#visionModal">@T["Footer_Vision"]</a>
                    </li>
                    <li class="mb-2">
                        <a class="link-900 fs-1 fw-medium text-decoration-none" href="#" data-bs-toggle="modal" data-bs-target="#missionModal">@T["Footer_Mission"]</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4 mb-4 mb-lg-0 order-lg-2 order-md-3">
                <h4 class="footer-heading-color fw-bold font-sans-serif mb-3 mb-lg-4">@T["Footer_Contact"]</h4>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2"><a class="link-900 fs-1 fw-medium text-decoration-none" href="#!">@T["Footer_Help"]</a></li>
                    <li class="mb-2"><a class="link-900 fs-1 fw-medium text-decoration-none" href="#!">@T["Footer_Press"]</a></li>
                    <li class="mb-2"><a class="link-900 fs-1 fw-medium text-decoration-none" href="#!">@T["Footer_Partners"]</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4 mb-4 mb-lg-0 order-lg-3 order-md-4">
                <h4 class="footer-heading-color fw-bold font-sans-serif mb-3 mb-lg-4">@T["Footer_More"]</h4>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2"><a class="link-900 fs-1 fw-medium text-decoration-none" href="#!">@T["Footer_FlightPrices"]</a></li>
                    <li class="mb-2"><a class="link-900 fs-1 fw-medium text-decoration-none" href="#!">@T["Footer_Airlines"]</a></li>
                    <li class="mb-2"><a class="link-900 fs-1 fw-medium text-decoration-none" href="#!">@T["Footer_Tips"]</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-5 col-12 mb-4 mb-md-6 mb-lg-0 order-lg-4 order-md-1">
                <h4 class="fw-medium font-sans-serif text-secondary mb-3">@T["Footer_DiscoverApp"]</h4>
                <div class="d-flex align-items-center">
                    <a href="#!"> <img class="me-2" src="/public/assets/img/play-store.png" alt="play store" /></a>
                    <a href="#!"> <img src="/public/assets/img/apple-store.png" alt="apple store" /></a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="py-5 text-center">
    <p class="mb-0 text-secondary fs--1 fw-medium">@T["Footer_Rights"] </p>
</div>

<div class="modal fade" id="aboutModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content p-4">
            <div class="modal-header">
                <h5 class="modal-title">Hakkımızda</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>
                    Biz Jadoo olarak seyahat severlere dünyanın dört bir yanındaki destinasyonları keşfetme fırsatı sunuyoruz.
                    Amacımız, seyahati herkes için kolay, hızlı ve keyifli hale getirmektir.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="visionModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content p-4">
            <div class="modal-header">
                <h5 class="modal-title">Vizyonumuz</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>
                    Seyahat deneyiminde global ölçekte en güvenilir ve ilham verici platform olmak.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="missionModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content p-4">
            <div class="modal-header">
                <h5 class="modal-title">Misyonumuz</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>
                    Kullanıcılarımıza en uygun fiyatlarla, en iyi seyahat seçeneklerini sunarak seyahati ulaşılabilir kılmak.
                </p>
            </div>
        </div>
    </div>
</div>
