@model List<JaddooTravel.Dtos.FeatureDtos.ResultFeatureDto>
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />


<div class="container">
    <br />
    <table class="table table-bordered table-hover">
        <tr>
            <th>#</th>
            <th>Ana Başlık</th>
            <th>Başlık</th>
            <th>Açıklama</th>
            <th>Video Url</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.FeatureId</th>
                <td>@item.MainTitle</td>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.VideoUrl</td>
                <td><a href="/Feature/DeleteFeature/@item.FeatureId" class="btn btn-danger">Sil</a></td>
                <td><a href="/Feature/UpdateFeature/@item.FeatureId" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/Feature/CreateFeature" class="btn btn-info">Yeni Tur Girişi</a>
</div>