@model List<JaddooTravel.Dtos.TripPlanDtos.ResultTripPlanDto>
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />


<div class="container">
    <br />
    <table class="table table-bordered table-hover">
        <tr>
            <th>#</th>
            <th>Başlık</th>
            <th>Açıklama</th>
            <th>Ikon Url</th>
            <th>Ikon Rengi</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.TripPlanId</th>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.IconUrl</td>
                <td>@item.BackgroundColorClass</td>
                <td><a href="/TripPlan/DeleteTripPlan/@item.TripPlanId" class="btn btn-danger">Sil</a></td>
                <td><a href="/TripPlan/UpdateTripPlan/@item.TripPlanId" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/TripPlan/CreateTripPlan" class="btn btn-info">Yeni Tur Girişi</a>
</div>